HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### maven ###
*.war
*.ear
*.zip
*.tar
*.tar.gz

### logs ####
logs/
*.log

### temp ignore ###
pigx-mysql/
upload/
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### node ###
node_modules
!/dependency-reduced-pom.xml
!/tyrise-material-puller.iml
tyrise-material-puller.iml